<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js App</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in list" v-bind:key="item.id" v-if="item.hp">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp < 50">큰 피해...!</span>
                <button v-on:click="doAttack(index)">공격하기</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [
                    { id: 1, name: '슬라임', hp:100 },
                    { id: 2, name: '고블린', hp:200 },
                    { id: 3, name: '드래곤', hp:500 }
                ]
            },
            methods: {
                doAttack: function(index) {
                    this.list[index].hp -= 10
                }
            }
        })
    </script>
</body>

</html>