<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js App</title>
</head>

<body>
    <!--깃허브에서 리포지토리 목록 가져오기 예제-->
    <div id="app">
        <select v-model="current">
            <option v-for="topic in topics" v-bind:value="topic.value">
                {{ topic.name }}
            </option>
        </select>
        <div v-for="item in list">{{ item.full_name }}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [],
                current: '',
                topics: [
                    { value: 'vue', name: 'Vue.js' },
                    { value: 'jQuery', name: 'jQuery' }
                ]
            },
            watch: {
                current: function (val) {
                    // 깃허브 API에서 토픽 리포지토리 검색
                    axios.get('https://api.github.com/search/repositories', {
                        params: {
                            q: 'topic:' + val
                        }
                    }).then(function (response) {
                        this.list = response.data.items
                    }.bind(this))
                }
            }
        })
    </script>
</body>

</html>